* {
  box-sizing: border-box;
}

.page {
  min-height: 100vh;
}

.frame {
  width: 1900px;
  height: 1337px;
  background: #161616;
  position: relative;
}

.head {
  box-sizing: border-box;
  width: 1900px;
  height: 100px;
  left: 0px;
  top: 0px;
  background: #121212;
  border: 1px solid #ffffff;
  position: absolute;
}

.mid {
  width: 1194px;
  height: 642px;
  left: 353px;
  top: 146px;
  background: #3c3c3c;
  border-radius: 12px;
  position: absolute;
}

.bot {
  position: absolute;
  width: 1194px;
  height: 395px;
  left: 353px;
  top: 839px;
  background: #3c3c3c;
  border-radius: 12px;
}

.logo img {
  position: absolute;
  width: 53.45px;
  height: 68px;
  left: 353px;
  top: 16px;
}

.role-box {
  box-sizing: border-box;
  position: absolute;
  width: 175px;
  height: 50px;
  left: 438px;
  top: 25px;
  background: #282828;
  border: 1px solid #373535;
  border-radius: 8px;
}

.key {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 449px;
  top: 35px;
}

.role-user {
  position: absolute;
  width: 78px;
  height: 15px;
  left: 493px;
  top: 39px;
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.09em;
  color: #ffffff;
}

.promo {
  position: absolute;
  width: 51px;
  height: 15px;
  left: 714px;
  top: 39px;
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.09em;
  color: #ffffff;
}

.lottery {
  position: absolute;
  width: 57px;
  height: 15px;
  left: 786px;
  top: 39px;
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.09em;
  color: #ffffff;
}

.tournaments {
  position: absolute;
  width: 101px;
  height: 15px;
  left: 864px;
  top: 39px;
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.09em;
  color: #ffffff;
}

.account-box {
  box-sizing: border-box;
  position: absolute;
  width: 175px;
  height: 50px;
  left: 1095px;
  top: 25px;
  background: #282828;
  border: 1px solid #373535;
  border-radius: 8px;
}

.icon-acc {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 1104px;
  top: 35px;
}

.personal-acc {
  position: absolute;
  width: 117px;
  height: 14px;
  left: 1142px;
  top: 42px;
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 146.16%;
  /* or 18px */
  letter-spacing: 0.09em;
  color: #ffffff;
}

.language-box {
  box-sizing: border-box;
  position: absolute;
  width: 175px;
  height: 50px;
  left: 1291px;
  top: 25px;
  background: #282828;
  border: 1px solid #373535;
  border-radius: 8px;
}

.flag {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 1309px;
  top: 40px;
}

.language {
  position: absolute;
  width: 51px;
  height: 22px;
  left: 1335px;
  top: 35px;
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 146.16%;
  /* or 29px */
  letter-spacing: 0.09em;
  color: #ffffff;
}

.arrow {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 1427px;
  top: 36px;
}

.circle {
  box-sizing: border-box;
  position: absolute;
  width: 60px;
  height: 55px;
  left: 1487px;
  top: 22px;
  background: #282828;
  border: 1px solid #373535;
  border-radius: 30px;
}

.logout {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 1504px;
  top: 35px;
}

.mid {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 43px 40px;
}

.your-brand-pic {
  position: absolute;
  width: 427px;
  height: 556px;
  left: 41px;
  top: 43px;
  border-radius: 12px;
}

.mid-top {
  position: absolute;
  width: 650px;
  height: 73px;
  right: 40px;
  top: 43px;
  background: #8e8e8e;
  border-radius: 12px;
}

.some-title {
  position: absolute;
  width: 119px;
  height: 31px;
  left: 266px;
  top: 18px;
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  margin: 0;
}

.mid-middle {
  position: absolute;
  width: 650px;
  height: 278px;
  right: 40px;
  top: 142px;
  background: #6c6969;
  border-radius: 12px;
}

.text {
  position: absolute;
  width: 601px;
  height: 240px;
  left: 29px;
  top: 25px;
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
}

.box-items {
  display: flex;
  width: 650px;
  justify-content: space-between;
}

.box {
  box-sizing: border-box;
  width: 211px;
  height: 151px;
  left: 857px;
  top: 592px;
  border: 0px solid #ffffff;
  border-radius: 12px;
}

.flex-cont-down {
  height: 310px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-evenly;
}

.game_cards_text {
  position: absolute;
  width: 196px;
  height: 39px;
  left: 31px;
  top: 25px;
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
  margin: 0px;
}

.desk {
  width: 264px;
  height: 269px;
  background: #6f6c6c;
  border-radius: 12px;
}

.arrows {
  width: 90px;
  height: 36px;
  top: 28px;
  right: 50px;
  display: flex;
  position: absolute;
  justify-content: space-around;
  right: 26px;
}

.arrow-box {
  width: 40px;
  height: 36px;
  background: #232323;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-left {
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  transform: rotate(-45deg);
}

.arrow-right {
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  transform: rotate(134deg);
}
