.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  width: 860px;
  height: 450px;
  background: #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 468px;
  height: 364px;
  background: #5a5a5a;
  border-radius: 12px;
  display: flex;
  box-sizing: border-box;
  padding: 35px 27px;
  justify-content: space-between;
}

.line {
  border: 3px solid black;
  background: black;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.left-top {
  width: 202px;
  height: 189px;
  background: #3c3b3b;
  border-radius: 12px;
  margin-bottom: 10px;
}

.up-container {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.up1 {
  width: 175px;
  height: 20px;
  background: #262626;
  border-radius: 12px;
  margin-top: 9px;
}
.up2 {
  width: 175px;
  height: 20px;
  background: #262626;
  border-radius: 12px;
  margin-top: 7px;
}

.down {
  width: 175px;
  height: 111px;
  background: #262626;
  border-radius: 12px;
  margin: 10px 14px 12px 13px;
}

.left-bot {
  width: 202px;
  height: 95px;
  background: #3c3b3b;
  border-radius: 12px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.left-bot-item1 {
  width: 82px;
  height: 68px;
  background: #262626;
  border-radius: 12px;
}

.left-bot-item2 {
  width: 83px;
  height: 68px;
  background: #262626;
  border-radius: 12px;
}

.right {
  width: 202px;
  height: 294px;
  background: #3c3b3b;
  border-radius: 12px;
  padding: 9px 14px 13px 13px;
  box-sizing: border-box;
}

.item-top {
  width: 175px;
  height: 20px;
  background: #262626;
  border-radius: 12px;
  margin-bottom: 95px;
}

.item-mid {
  width: 175px;
  height: 107px;
  background: #262626;
  border-radius: 12px;
  margin-bottom: 8px;
}

.item-bot {
  width: 175px;
  height: 42px;
  background: #262626;
  border-radius: 12px;
}
