.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 860px;
  height: 450px;
  background: #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 784px;
  height: 244px;
  background: #828282;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 26px 36px;
}

.top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.item-top {
  width: 168px;
  height: 54px;
  background: #484343;
  border-radius: 12px;
}

.mid {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.item-mid {
  width: 343px;
  height: 54px;
  background: #484343;
  border-radius: 12px;
}

.bot {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.item-bot {
  width: 225px;
  height: 54px;
  background: #484343;
  border-radius: 12px;
}
